# Gradle
# ------
**/.gradle
**/build

# Eclipse
# -------
**/*.classpath
**/*.project
**/.settings
**/.metadata/
.recommenders

# Maven
# --------
**/target

# macOS
# ----
.DS_Store
**/.DS_Store

# CVS
# -----

/CVS/*
**/CVS/*
.cvsignore
*/.cvsignore
/apg-patch-service-api/lombok.config
/apg-patch-service-core/lombok.config
